html {
  font-family: sans-serif;
}
.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-auto-flow: row;
}
div[mv-mode='edit'] .collection {
  padding-top: 2em;
  position: relative;
}
.collection .mv-add {
  position: absolute;
  top: 0.5em;
  right: 1em;
}
.support {
  border: 1px solid #EEE;
  padding: 6px 10px;
}
.metadata {
  display: grid-inline;
  grid-template-columns: 1fr;
}
.tags-wrapper {
  float: right;
  text-align: right;
}
.tags {
  background-color: #EEE;
  margin-bottom: 5px;
}
.tags::before {
  content: "#";
}
